.text-line {
  white-space: nowrap;
  display: block;
}

.hero-bg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/hero-bg.png");
  padding: 200px 0 0;
  margin-top: 20px;
}

.sec-font {
  font-family: var(--secondary-font), sans-serif;
}
