---
import Layout from "../layouts/Layout.astro";
import { Globe, MapPin, Mail } from "@lucide/astro/icons/index";
---

<Layout
  title="Contact Us | BodyByAls"
  description="Transform your fitness journey with BodyByAls Online Coaching. Get easy-to-follow workouts, sustainable nutrition guidance, and hormone-based strategies from Coach Anton Soler. Train anywhere, eat smarter, and build lasting healthy habits.">
  <!-- Page Header Section Start -->
  <div class="page-header bg-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <!-- Page Header Box Start -->
          <div class="page-header-box">
            <h1 class="text-anime-style-3" data-cursor="-opaque">Contact us</h1>
            <nav class="wow fadeInUp">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">home</a></li>
                <li class="breadcrumb-item active" aria-current="page">contact us</li>
              </ol>
            </nav>
          </div>
          <!-- Page Header Box End -->
        </div>
      </div>
    </div>
  </div>
  <!-- Page Header Section End -->

  <!-- Contact Info List Start -->
  <div class="contact-info-list">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <!-- Contact Info List Box Start -->
          <div class="contact-info-list-box">
            <!-- Contact Info Item Start -->
            <div class="contact-info-item wow fadeInUp">
              <div class="icon-box">
                <Mail size="30" color="#FFFFFF" stroke-width="1.5" />
              </div>
              <div class="contact-info-item-content">
                <h3>Email</h3>
                <p><a href="mailto:bodybyals.business@gmail.com">bodybyals.business@gmail.com</a></p>
              </div>
            </div>
            <!-- Contact Info Item End -->

            <!-- Contact Info Item Start -->
            <div class="contact-info-item wow fadeInUp" data-wow-delay="0.2s">
              <div class="icon-box">
                <MapPin size="30" color="#FFFFFF" stroke-width="1.5" />
              </div>
              <div class="contact-info-item-content">
                <h3>Our Location</h3>
                <p>Quezon City, Philippines</p>
              </div>
            </div>
            <!-- Contact Info Item End -->

            <!-- Contact Info Item Start -->
            <div class="contact-info-item wow fadeInUp" data-wow-delay="0.6s">
              <div class="icon-box">
                <Globe size="30" color="#FFFFFF" stroke-width="1.5" />
              </div>
              <div class="contact-info-item-content">
                <h3>Social Media</h3>
                <div class="application-list">
                  <a href="https://www.facebook.com/BODYBYALS" class="application-box" target="_blank"
                    ><i class="fa-brands fa-facebook-f text-light"></i></a
                  >
                  <a href="https://www.instagram.com/bodybyals/" class="application-box" target="_blank"
                    ><i class="fa-brands fa-instagram text-light"></i></a
                  >
                  <a href="https://www.tiktok.com/@bodybyals" class="application-box" target="_blank"
                    ><i class="fa-brands fa-tiktok text-light"></i></a
                  >
                  <a
                    href="https://www.threads.com/@bodybyals?xmt=AQF0-Wsfdj1zmUVDy4x-itGYnUPm8_hXjDRUmA05tXUSEG4"
                    class="application-box"
                    target="_blank"><i class="fa-brands fa-threads text-light"></i></a
                  >
                </div>
              </div>
            </div>
            <!-- Contact Info Item End -->
          </div>
          <!-- Contact Info List Box End -->
        </div>
      </div>
    </div>
  </div>
  <!-- Contact Info List Start -->
</Layout>
