---
import { Image } from "astro:assets";
import mainLogo from "../assets/images/logos/logo.svg";
---

<!-- Header Start -->
<header id="header" class="main-header sec-font">
  <div class="header-sticky bg-section">
    <nav class="navbar navbar-expand-lg">
      <div class="container">
        <!-- Logo Start -->
        <a href="/" class="navbar-brand">
          <Image src={mainLogo} alt="BodyByAls Logo" />
        </a>
        <!-- Logo End -->

        <!-- Main Menu Start -->
        <div class="collapse navbar-collapse main-menu">
          <div class="nav-menu-wrapper">
            <ul id="menu" class="navbar-nav mr-auto">
              <li class="nav-item"><a href="#about" class="nav-link">About</a></li>
              <li class="nav-item"><a href="#services" class="nav-link">Services</a></li>
              <li class="nav-item"><a href="#products" class="nav-link">Products</a></li>
              <li class="nav-item"><a href="#transformations" class="nav-link">Transformations</a></li>
              <li class="nav-item submenu">
                <a href="#" class="nav-link">More</a>
                <ul>
                  <li class="nav-item"><a href="#faqs" class="nav-link">FAQs</a></li>
                  <li class="nav-item"><a href="#footer" class="nav-link">Contact Us</a></li>
                </ul>
              </li>
            </ul>
          </div>

          <!-- Get Started Btn Start -->
          <div class="header-btn">
            <a href="#" class="btn-default btn-highlighted">Get Started</a>
          </div>
          <!-- Get Started Btn End -->
        </div>
        <!-- Main Menu End -->

        <!-- Navbar Toggle Start -->
        <div class="navbar-toggle"></div>
        <!-- Navbar Toggle End -->
      </div>
    </nav>
    <!-- Slicknav Menu Start -->
    <div class="responsive-menu"></div>
    <!-- Slicknav Menu End -->
  </div>
</header>
<!-- Header End -->
