---

---

<!-- About Section Start -->
<section id="about" class="our-faqs">
  <div class="container">
    <div class="row">
      <div class="col-xl-5">
        <!-- Faq Image Box Start -->
        <div data-wow-delay="0.2s" class="faq-image-box-royal wow fadeInUp">
          <!-- Faq Image Start -->
          <div class="faq-image-royal">
            <figure class="image-anime">
              <img src="/images/faq-image-royal.jpg" alt="" />
            </figure>
          </div>
          <!-- Faq Image End -->

          <!-- Faq CTA Box Start -->
          <div class="faq-cta-box-royal">
            <!-- Satisfy Client Images Start -->
            <div class="satisfy-client-images">
              <div class="satisfy-client-image">
                <figure class="image-anime">
                  <img src="https://placehold.co/50x50" alt="" />
                </figure>
              </div>
              <div class="satisfy-client-image">
                <figure class="image-anime">
                  <img src="https://placehold.co/50x50" alt="" />
                </figure>
              </div>
              <div class="satisfy-client-image">
                <figure class="image-anime">
                  <img src="https://placehold.co/50x50" alt="" />
                </figure>
              </div>
              <div class="satisfy-client-image">
                <figure class="image-anime">
                  <img src="https://placehold.co/50x50" alt="" />
                </figure>
              </div>
            </div>
            <!-- Satisfy Client Images End -->

            <!-- Faq CTA Box Content Start -->
            <div class="faq-cta-box-content-royal">
              <h2><span class="counter">1000</span>+</h2>
              <p>Lives Transformed</p>
            </div>
            <!-- Faq CTA Box Content End -->
          </div>
          <!-- Faq CTA Box End -->
        </div>
        <!-- Faq Image Box End -->
      </div>

      <div class="col-xl-7">
        <!-- Faqs Content Start -->
        <div class="faqs-content-royal">
          <!-- Section Title Start -->
          <div class="section-title">
            <h3 class="wow fadeInUp">About Us</h3>
            <h2 data-cursor="-opaque" class="text-anime-style-3">Our Origin Story</h2>
            <p data-wow-delay="0.2s" class="wow fadeInUp">
              Coach Anton Soler founded BODYBYALS during the pandemic, but his journey started long before that. Growing
              up, he was a fat kid and struggled with weight, even though he was active in sports. He realized that
              being active alone wasn’t enough to get results, which sparked his interest in fitness and nutrition.<br
              /><br />
              Over the years, he tried different methods and learned from every experience. All of this taught him that lasting
              results come from controlling hormones and building sustainable habits, rather than just counting calories.<br
              /><br />
              Every day, his vision guides you through BODYBYALS Online Coaching with easy-to-follow workouts, a sustainable
              Nutrition Guide, and healthier carb alternatives like BODYBYALS Shirataki Rice and Keto Bread to support your
              fitness journey.<br /><br />
              Our approach is designed to be sustainable for every client, helping you stay on track while enjoying your favorite
              meals. No matter where you are in your day or your journey, your progress is our mission. Together, we’ll help
              you build healthier habits and turn your wellness goals into reality.
            </p>
          </div>
          <!-- Section Title End -->

          <!-- About Body Item List Start -->
          <div data-wow-delay="0.4s" class="about-us-body wow fadeInUp">
            <!-- About Body Item Start -->
            <div class="about-us-body-item">
              <div class="icon-box">
                <img src="/images/icon-about-body-item-1.svg" alt="" />
              </div>
              <div class="about-us-body-item-content">
                <h3>Results That Last a Lifetime</h3>
                <p>
                  We move beyond temporary fixes by prioritizing health and sustainable habits over restrictive calorie
                  counting.
                </p>
              </div>
            </div>
            <!-- About Body Item End -->

            <!-- About Body Item Start -->
            <div class="about-us-body-item">
              <div class="icon-box">
                <img src="/images/icon-about-body-item-2.svg" alt="" />
              </div>
              <div class="about-us-body-item-content">
                <h3>Your Progress, Our Mission</h3>
                <p>
                  Achieve your wellness goals through a personalized approach that turns daily actions into a
                  sustainable reality.
                </p>
              </div>
            </div>
            <!-- About Body Item End -->
          </div>
          <!-- About Body Item List End -->
        </div>
        <!-- Faqs Content End -->
      </div>
    </div>
  </div>
</section>
<!-- About Section End -->
