---
import { Image } from "astro:assets";
import socialsPhone from "@/assets/images/bg/socials-phone-bg.png";
---

<!-- Get Started Section Start -->
<section id="get-started" class="why-choose-us bg-section dark-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <!-- Why Choose Us Content Start -->
        <div class="why-choose-us-content">
          <!-- Section Title Start -->
          <div class="section-title">
            <h3 class="wow fadeInUp">Get Started</h3>
            <h2 data-cursor="-opaque" class="text-anime-style-3">
              Reset your body and hormones with guidance that truly works
            </h2>
          </div>
          <!-- Section Title End -->

          <!-- Why Choose Us Button Start -->
          <div data-wow-delay="0.2s" class="why-choose-us-btn wow fadeInUp">
            <a href="https://www.instagram.com/bodybyals/" target="_blank" class="btn-default btn-highlighted"
              >Start Your Journey</a
            >
          </div>
          <!-- Why Choose Us Button End -->

          <!-- Why Choose Us Image Start -->
          <div class="why-choose-us-image">
            <figure>
              <Image src={socialsPhone} alt="" />
            </figure>
          </div>
          <!-- Why Choose Us Image End -->
        </div>
        <!-- Why Choose Us Content End -->
      </div>
    </div>
  </div>
</section>
<!-- Get Started Section End -->
