---

---

<!-- Hero Section Start -->
<section class="hero-elite bg-section dark-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <!-- Hero Content Start -->
        <div class="hero-content-royal">
          <!-- Section Title Start -->
          <div class="section-title">
            <h3 class="wow fadeInUp">Train. Transform. Thrive.</h3>
            <h1 data-cursor="-opaque" class="text-anime-style-3">
              <span class="text-line">Thousands have TRANSFORMED</span>
              <span class="text-line">now it's your turn.</span>
            </h1>
            <p data-wow-delay="0.2s" class="wow fadeInUp">
              Join the BodyByAls community and start your fitness journey today. Personalized coaching, nutrition
              guidance, and unwavering support.
            </p>
          </div>
          <!-- Section Title End -->

          <!-- Hero Content Body Start -->
          <div data-wow-delay="0.4s" class="hero-content-body-elite wow fadeInUp">
            <!-- Hero Button Start -->
            <div class="hero-btn-elite">
              <a href="#" class="btn-default btn-highlighted">Contact Us</a>
            </div>
            <!-- Hero Button End -->

            <!-- Video Play Button Start -->
            <div class="video-play-button">
              <a href="https://www.youtube.com/watch?v=Y-x0efG1seA" data-cursor-text="Play" class="popup-video">
                <i class="fa-solid fa-play"></i>
              </a>
              <h3>Watch Our Demo</h3>
            </div>
            <!-- Video Play Button End -->
          </div>
          <!-- Hero Content Body End -->
        </div>
        <!-- Hero Content End -->

        <!-- Hero Image Box Start -->
        <div class="hero-image-box-elite">
          <!-- Hero Circle Progress Box Start -->
          <div class="hero-circle-progress-box-elite">
            <div class="hero-circle-progress-header-elite">
              <h3>Weekly Task</h3>
              <p>Plan and manage your week easily</p>
            </div>
            <div data-value="0.80" class="circle">
              <div class="progress_value">
                <span class="pro_data"></span><span>%</span><span class="circle-text">Task Completed</span>
              </div>
            </div>
          </div>
          <!-- Hero Circle Progress Box End -->

          <!-- Hero Client Box Start -->
          <div class="hero-client-box-elite">
            <!-- Hero Client header Start -->
            <div class="hero-client-header-elite">
              <p>Engaged Daily Users</p>
              <h2><span class="counter">500</span>K+</h2>
            </div>
            <!-- Hero Client header End -->

            <!-- Hero Client Body Start -->
            <div class="hero-client-body-elite">
              <!-- Satisfy Client Images Start -->
              <div class="satisfy-client-images">
                <div class="satisfy-client-image">
                  <figure class="image-anime">
                    <img src="/images/author-1.jpg" alt="" />
                  </figure>
                </div>
                <div class="satisfy-client-image">
                  <figure class="image-anime">
                    <img src="/images/author-2.jpg" alt="" />
                  </figure>
                </div>
                <div class="satisfy-client-image">
                  <figure class="image-anime">
                    <img src="/images/author-3.jpg" alt="" />
                  </figure>
                </div>
                <div class="satisfy-client-image">
                  <figure class="image-anime">
                    <img src="/images/author-4.jpg" alt="" />
                  </figure>
                </div>
                <div class="satisfy-client-image">
                  <figure class="image-anime">
                    <img src="/images/author-2.jpg" alt="" />
                  </figure>
                </div>
              </div>
              <!-- Satisfy Client Images End -->

              <!-- Satisfied Icon Box Start -->
              <div class="hero-client-icon-box-elite">
                <a href="#"><img src="/images/icon-download-accent.svg" alt="" /></a>
              </div>
              <!-- Satisfied Icon Box End -->
            </div>
            <!-- Hero Client Body End -->
          </div>
          <!-- Hero Client Box End -->

          <!-- Hero Image Start -->
          <div class="hero-image-elite">
            <figure>
              <img src="/images/hero-image-elite.png" alt="" />
            </figure>
          </div>
          <!-- Hero Image End -->
        </div>
        <!-- Hero Image Box End -->
      </div>
    </div>
  </div>
</section>
<!-- Hero Section End -->
