---

---

<!-- Services Section Start-->
<section class="our-features-elite bg-section">
  <div class="container">
    <div class="row section-row">
      <div class="col-lg-12">
        <!-- Section Title Start -->
        <div class="section-title section-title-center">
          <h3 class="wow fadeInUp">Services</h3>
          <h2 data-cursor="-opaque" class="text-anime-style-3">
            Train anywhere with workouts and nutrition that fit your lifestyle
          </h2>
        </div>
        <!-- Section Title End -->
      </div>
    </div>

    <div class="row">
      <div class="col-xl-3 col-md-6">
        <!-- Features Item Start -->
        <div class="features-item-elite wow fadeInUp">
          <!-- Features Item Content Start -->
          <div class="features-item-content-elite">
            <!-- Features Item Header Start -->
            <div class="features-item-header-elite">
              <div class="features-item-title-elite">
                <h3>Mobile App Development</h3>
              </div>
              <div class="icon-box">
                <img src="/images/icon-features-1-elite.svg" alt="" />
              </div>
            </div>
            <!-- Features Item Header End -->

            <!-- Features Item Body Start -->
            <div class="features-item-body-elite">
              <p>Your information is encrypted and stored safely with advanced.</p>
            </div>
            <!-- Features Item Body End -->
          </div>
          <!-- Features Item Content End -->

          <!-- Features Item Tag List Start -->
          <div class="features-item-tag-list-elite">
            <ul>
              <li>Modern App Design</li>
            </ul>
          </div>
          <!-- Features Item Tag List End -->
        </div>
        <!-- Features Item End -->
      </div>

      <div class="col-xl-3 col-md-6">
        <!-- Features Item Start -->
        <div data-wow-delay="0.2s" class="features-item-elite wow fadeInUp">
          <!-- Features Item Content Start -->
          <div class="features-item-content-elite">
            <!-- Features Item Header Start -->
            <div class="features-item-header-elite">
              <div class="features-item-title-elite">
                <h3>App Store Optimization</h3>
              </div>
              <div class="icon-box">
                <img src="/images/icon-features-2-elite.svg" alt="" />
              </div>
            </div>
            <!-- Features Item Header End -->

            <!-- Features Item Body Start -->
            <div class="features-item-body-elite">
              <p>Your information is encrypted and stored safely with advanced.</p>
            </div>
            <!-- Features Item Body End -->
          </div>
          <!-- Features Item Content End -->

          <!-- Features Item Tag List Start -->
          <div class="features-item-tag-list-elite">
            <ul>
              <li>Digital Innovation</li>
            </ul>
          </div>
          <!-- Features Item Tag List End -->
        </div>
        <!-- Features Item End -->
      </div>

      <div class="col-xl-3 col-md-6">
        <!-- Features Item Start -->
        <div data-wow-delay="0.4s" class="features-item-elite wow fadeInUp">
          <!-- Features Item Content Start -->
          <div class="features-item-content-elite">
            <!-- Features Item Header Start -->
            <div class="features-item-header-elite">
              <div class="features-item-title-elite">
                <h3>App Testing & Quality</h3>
              </div>
              <div class="icon-box">
                <img src="/images/icon-features-3-elite.svg" alt="" />
              </div>
            </div>
            <!-- Features Item Header End -->

            <!-- Features Item Body Start -->
            <div class="features-item-body-elite">
              <p>Your information is encrypted and stored safely with advanced.</p>
            </div>
            <!-- Features Item Body End -->
          </div>
          <!-- Features Item Content End -->

          <!-- Features Item Tag List Start -->
          <div class="features-item-tag-list-elite">
            <ul>
              <li>App Maintenance</li>
            </ul>
          </div>
          <!-- Features Item Tag List End -->
        </div>
        <!-- Features Item End -->
      </div>

      <div class="col-xl-3 col-md-6">
        <!-- Features Item Start -->
        <div data-wow-delay="0.6s" class="features-item-elite wow fadeInUp">
          <!-- Features Item Content Start -->
          <div class="features-item-content-elite">
            <!-- Features Item Header Start -->
            <div class="features-item-header-elite">
              <div class="features-item-title-elite">
                <h3>Web App Development</h3>
              </div>
              <div class="icon-box">
                <img src="/images/icon-features-4-elite.svg" alt="" />
              </div>
            </div>
            <!-- Features Item Header End -->

            <!-- Features Item Body Start -->
            <div class="features-item-body-elite">
              <p>Your information is encrypted and stored safely with advanced.</p>
            </div>
            <!-- Features Item Body End -->
          </div>
          <!-- Features Item Content End -->

          <!-- Features Item Tag List Start -->
          <div class="features-item-tag-list-elite">
            <ul>
              <li>Quality Assurance</li>
            </ul>
          </div>
          <!-- Features Item Tag List End -->
        </div>
        <!-- Features Item End -->
      </div>

      <div class="col-lg-12">
        <!-- Features Footer Elite Start -->
        <div data-wow-delay="0.4s" class="features-footer-elite wow fadeInUp">
          <!-- Features Footer List Start -->
          <div class="features-footer-list-elite">
            <ul>
              <li>Smart Organizer</li>
              <li>Time Management App</li>
              <li>Digital Planner</li>
              <li>Productivity Software</li>
            </ul>
          </div>
          <!-- Features Footer List End -->

          <!-- Section Footer Text Start -->
          <div class="section-footer-text">
            <p>Let's make something great work together. <a href="#">Get Free Quote</a></p>
          </div>
          <!-- Section Footer Text End -->
        </div>
        <!-- Features Footer Elite End -->
      </div>
    </div>
  </div>
</section>
<!-- Services Section End-->
