---
const testimonials = [
  {
    name: "Nate Javier",
    job: "Influencer",
    quote:
      "From size XXL to M! Thank you Coach Anton for the fitness and nutrition guidance. I’ve never felt more comfortable in my body than now — all of this while fixing my relationship with food. I didn’t get a diet — I got a lifestyle change and I’m never letting it go.",
  },
  {
    name: "Sofie",
    job: "Influencer",
    quote:
      "1 year transformation but did it in 6 months! now i don’t document na but still try to keep with the diet + workouts, its good for maintenance and prep my body for future children!",
  },
  {
    name: "Toni Sia",
    job: "Influencer",
    quote:
      "3 years of consistency, baby! Malayo pa, pero malayo na, Proud of you, self Usually I'd be hesitant to post my workout and fitness always videos but big thanks to my coach @BODYBYALS for pushing me. This journey hasn't been easy but it change my life in so many ways.",
  },
  {
    name: "King Sia",
    job: "Influencer",
    quote:
      "The meal plan has been a great help to us. I noticed how my body was able to drop weight in just 2 weeks. Also, I love how the meal plan consists of healthy fats & enough protein for body building (which is my goal🙈). Best thing I noticed was I was able to lose fat while building muscles. I also wanna commend how the bodybyals meal plan is very filling and I find myself snacking way less.",
  },
  {
    name: "Paula D. Paz",
    job: "",
    quote:
      "With proper guidance, dedication, and consistency (all thanks to my trainer!), I’ve made progress I never imagined! Never did I think I’d fit into an XS. Today, movement is an integral part of my life, something I can’t live without. I’m fit, but more importantly, I’m strong and disciplined.",
  },
];
---

<!-- Testimonials Section Start -->
<section id="testimonials" class="our-testimonial-elite bg-section">
  <div class="container">
    <div class="row section-row">
      <div class="col-lg-12">
        <!-- Section Title Start -->
        <div class="section-title section-title-center">
          <h3 class="wow fadeInUp">Client Testimonials</h3>
          <h2 data-cursor="-opaque" class="text-anime-style-3">
            From all over the world, real people achieving real results with us
          </h2>
        </div>
        <!-- Section Title End -->
      </div>
    </div>

    <div class="row">
      <div class="col-xl-12">
        <!-- Testimonial Slider Start -->
        <div class="testimonial-slider-elite">
          <div class="swiper">
            <div data-cursor-text="Drag" class="swiper-wrapper">
              {
                testimonials.map((testimonial) => (
                  <div class="swiper-slide">
                    <div class="testimonial-item-elite testimonial-rating-box-royal">
                      <div class="testimonial-item-rating">
                        <i class="fa fa-solid fa-star" />
                        <i class="fa fa-solid fa-star" />
                        <i class="fa fa-solid fa-star" />
                        <i class="fa fa-solid fa-star" />
                        <i class="fa fa-solid fa-star" />
                      </div>
                      <div class="testimonial-item-body-elite">
                        <div class="testimonial-item-content-elite">
                          <h3 class="fst-italic">" {testimonial.quote} "</h3>
                        </div>
                        <div class="testimonial-item-footer-elite">
                          <div class="testimonial-author-content-elite">
                            <h3>{testimonial.name}</h3>
                            <p>{testimonial.job}</p>
                          </div>
                          <div class="testimonial-quote-elite">
                            <img src="/images/testimonial-quote.svg" alt="" />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                ))
              }
            </div>
          </div>
        </div>
        <!-- Testimonial Slider End -->
      </div>

      <div class="col-lg-12">
        <!-- Section Footer Text Start -->
        <div data-wow-delay="0.4s" class="section-footer-text section-satisfy-img wow fadeInUp">
          <p>Trusted by thousands of clients on their fitness journey worldwide.</p>
          <ul>
            <li><span class="counter">4.9</span>/5</li>
            <li>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </li>
            <li>Our 1000+ Reviews</li>
          </ul>
        </div>
        <!-- Section Footer Text End -->
      </div>
    </div>
  </div>
</section>
<!-- Testimonials Section End -->
